@import "~bulma/sass/utilities/_all";

body {
  font-family: 'Courier', sans-serif;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-image: linear-gradient(rgb(180, 72, 72),rgb(116, 41, 41));
  background-repeat: no-repeat;
  background-size: cover;

  // background: #ff1a00;
  // /* Old browsers */
  // background: -moz-linear-gradient(top, #ff1a00 0%, #ff1a00 100%);
  // /* FF3.6-15 */
  // background: -webkit-linear-gradient(top, #ff1a00 0%, #ff1a00 100%);
  // /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to bottom, #c0392b 0%, #e74c3c 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a00', endColorstr='#ff1a00', GradientType=0);
  /* IE6-9 */
  border-radius: 35px;

  @include from($tablet) {
    width: 650px;
    margin: auto;
  }

  @include tablet {
    width: 650px;
    margin: 50px auto;
  }

  @include widescreen-only {
    width: 650px;
    margin: 50px auto;
  }
}

.poke-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 80%;
  padding: 10px;
  margin-right: -32px;
  overflow: scroll;
  //background-color: #941414;
  background-image: url("./bg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 55px;
  border: 3px white solid;
  font-weight: bolder;
}

.poke-cell {
  width: 120px;
  height: 120px;
  margin: 10px;
  background-color: #FFF;
  background-repeat: no-repeat;
  border: none;
  border-radius: 10px;
}

.detail-view {
  width: 45%;
  height: 100%;
  //padding: 10px;
  // background-color: #de0005;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-image: url("./bg2.jpg");
  background-size: cover;

  // background: #c0392b; /* Old browsers */
  // background: -moz-linear-gradient(top, #cc0000 0%, #cc0000 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(top, black 0%,#cc0000 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(to bottom, #fd887b 20%, #cf3030 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
  border-right: 2px white solid;
}

.sprite-image {
  width: 80%;
  height: 150px;
  margin: 10px auto;
  background-image: linear-gradient(#1abc9c, #10705c);
  border: 15px solid #751c12;
  border-bottom-left-radius: 25px;
  color: #ffffffd7;
  box-shadow: -2px 4px;
}

img.sprite-image {
  width: 180px;
}

.data-wrapper {
  width: 67%;
  height: 110px;
  padding: 10px;
  margin: 0 auto;
  background-color: #585858;
  color: #FFF;
}

.data-name {
  margin: 0 0 5px;
  font-size: 10px;
}

.data-char {
  font-size: 10px;
  font-size: 10px;
}

.searchPoke {
  position: absolute !important;
  top: 8px;
  // @include tablet {
  //   left: 90px;
  // }
}

.searchPoke input {
  height: 33px;
  border: 1px solid;
}

.searchPoke .loader {
  position: absolute;
  left: 440px;
}

.breeding-rhombus-spinner {
  position: absolute !important;
  top: 30px !important;
  left: 300px;
}

.light {
  width: 35%;
  padding: 5px;
  margin-top: 10px;
  color: black;
  border-radius: 10px;
  width: 5px;
  border: 2px white solid;
}

.light.red {
  background-color: red;
}

.light.blue {
  background-color: blue;
}

.green-screen {
  width: 90%;
  padding: 5px;
  margin-left: 10px;
  background-color: #b6e9fd;
  border: 3px white solid;
  color: rgb(43, 43, 43);
  font-weight: bolder;
  border-radius: 5px;

  @include mobile {
    margin-left: 0px !important;
    width: 100%;
  }
}

.dot {
  height: 25px;
  width: 25px;
  border: 2px solid rgba(255, 255, 255, 0.836);
  background-color: #8a8a8a;
  border-radius: 50%;
  display: inline-block;
  box-shadow: -1px 2px;
  margin-left: 10px;
}

.column.indicator {
  margin-left: 50px;

  @include mobile {
    margin-left: 50px !important;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.columns.mobile-indcator {
  @include mobile {
    display: flex;
  }
}

.column.indicator .dot {
  height: 11px !important;
  width: 11px !important;
  margin-left: 8px;
}

.column.indicator .dot.red {
  background-color: rgb(255, 87, 87)
}

.column.indicator .dot.yellow {
  background-color: rgb(255, 255, 0)
}

.column.indicator .dot.green {
  background-color: rgb(24, 168, 24)
}

@-webkit-keyframes color_change {
  from {
    background-color: #8ed2ff;
  }

  to {
    background-color: #c0392b;
  }
}

@-moz-keyframes color_change {
  from {
    background-color: blue;
  }

  to {
    background-color: #c0392b;
  }
}

@-ms-keyframes color_change {
  from {
    background-color: #2980b9;
  }

  to {
    background-color: #c0392b;
  }
}

@-o-keyframes color_change {
  from {
    background-color: #2980b9;
  }

  to {
    background-color: #c0392b;
  }
}

@keyframes color_change {
  from {
    background-color: #2980b9;
  }

  to {
    background-color: #c0392b;
  }
}

.color-change {
  background-color: blue;
  border: 3px solid rgba(255, 255, 255, 0.836);
  border-radius: 50px;
  width: 55px;
  height: 55px;
  -webkit-animation: color_change 1s infinite alternate;
  -moz-animation: color_change 1s infinite alternate;
  -ms-animation: color_change 1s infinite alternate;
  -o-animation: color_change 1s infinite alternate;
  animation: color_change 1s infinite alternate;
  box-shadow: -2px 4px;
  margin-top: 3px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.horizontal {
  background-color: gray;
  height: 50px;
  width: 10px;
  box-shadow: -2px 4px;
}

.vertical {
  background-color: gray;
  height: 10px;
  width: 50px;
  position: absolute;
  top: 33px;
  left: -8px;
}

.absolute {
  position: absolute;
}

.column.absolute {
  position: absolute;

  @include from($tablet) {
    left: 250px !important;
    top: 300px !important;
  }

  @include tablet {
    left: 350px !important;
    top: 300px !important;
  }

  @include widescreen-only {
    left: 450px !important;
    top: 300px !important;
  }

  @include desktop {
    left: 550px;
    top: 300px;
  }
}

.columns.controls {
  display: flex;
}

.column .light {
  @include mobile {
    height: 10px !important;
    width: 5px !important;
  }
}

.pokeName {
  font-size: 10px;
  color: white;
  text-align: center;
}